<div>
    <app-header></app-header>
    <app-navbar></app-navbar>
    <div class="container my-5">
      <div class="row">
        <app-card title="Notificações Gerais" description="Receba notificações em tempo real sobre os acontecimentos feitos por todos os agentes da equipe médica."></app-card>
        <app-card title="Ordem de Chegada dos Pacientes" description="Verifique a lista de pacientes atendidos em ordem de chegada."></app-card>
        <app-card title="Tarefas Médicas" description="Monitore as tarefas obrigatórias segundo os protocolos médicos ou prescrições próprias. Estas podem estar pendentes, realizadas ou canceladas."></app-card>
        <app-card title="Filtrar Pacientes" description="Opção para filtrar os pacientes conforme necessário para um atendimento mais eficaz."></app-card>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
  